In [1]:
import pandas as pd
import numpy as np

In [53]:
link = "https://www.czso.cz/documents/10180/32853391/300002164403.xlsx/1fed9fb2-4dbf-4b0f-bfbe-4c2d3202a18f?version=1.1"
pd.read_excel(link)
data = pd.read_excel(link, header = None, skiprows = 6)
data.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,Země,Studují či se jinak připravují na výkon povolání,NaN,NaN,NaN,Péče o děti či zdravotně postižené dospělé,NaN,NaN,NaN,Zdravotní důvody,NaN,NaN,NaN,Důchodci,NaN,NaN,NaN,Country
1,NaN,In education or training,NaN,NaN,NaN,Looking after children or incapacitated adults,NaN,NaN,NaN,Own illness or disability,NaN,NaN,NaN,Retired,NaN,NaN,NaN,NaN
2,NaN,15 - 24 let / years,NaN,NaN,NaN,25 - 49 let / years,NaN,NaN,NaN,50 - 64 let / years,NaN,NaN,NaN,65 let a více / 65 years or more,NaN,NaN,NaN,NaN
3,NaN,ženy,NaN,muži,NaN,ženy,NaN,muži,NaN,ženy,NaN,muži,NaN,ženy,NaN,muži,NaN,NaN
4,NaN,Women,NaN,Men,NaN,Women,NaN,Men,NaN,Women,NaN,Men,NaN,Women,NaN,Men,NaN,NaN

In [54]:
col1 = data.iloc[0].fillna(method = 'ffill')
col2 = data.iloc[2].fillna(method = 'ffill').str.split(pat='/', n = 0).str.get(0).fillna("")
col3 = data.iloc[3].fillna("")
columns = [col1, col2, col3]

columns = list(zip(*columns))
data.columns = columns
data = data.drop(data.index[[0,1,2]])
data = data.replace(".", "NaN")
data = data.replace("Lucembursko1)", "Lucembursko")
data.head(3)

,"(Země, , )","(Studují či se jinak připravují na výkon povolání, 15 - 24 let , muži)","(Studují či se jinak připravují na výkon povolání, 15 - 24 let , muži)","(Péče o děti či zdravotně postižené dospělé, 25 - 49 let , ženy)","(Péče o děti či zdravotně postižené dospělé, 25 - 49 let , ženy)","(Péče o děti či zdravotně postižené dospělé, 25 - 49 let , muži)","(Péče o děti či zdravotně postižené dospělé, 25 - 49 let , muži)","(Zdravotní důvody, 50 - 64 let , ženy)","(Zdravotní důvody, 50 - 64 let , ženy)","(Zdravotní důvody, 50 - 64 let , muži)","(Zdravotní důvody, 50 - 64 let , muži)","(Důchodci, 65 let a více , ženy)","(Důchodci, 65 let a více , ženy)","(Důchodci, 65 let a více , muži)","(Důchodci, 65 let a více , muži)","(Country, 65 let a více , muži)"
3,NaN,muži,NaN,ženy,NaN,muži,NaN,ženy,NaN,muži,NaN,ženy,NaN,muži,NaN,NaN
4,NaN,Men,NaN,Women,NaN,Men,NaN,Women,NaN,Men,NaN,Women,NaN,Men,NaN,NaN
5,EU 28,NaN,90.4,NaN,39,NaN,4,NaN,20.4,NaN,31.4,NaN,81,NaN,92.7,EU 28

In [52]:
data = data.drop(data.columns[[-1]], axis=1)
data = data.replace("2)", "")
data = data.drop(data.index[[0, 1, -1,-2, -3]])
data.columns = pd.MultiIndex.from_tuples(data.columns, names=["", "", ""])
data.fillna("")

A              Země Studují či se jinak připravují na výkon povolání        \
B                                                       15 - 24 let
C                                                               ženy  ženy
5             EU 28                                                   87.5
6       Eurozóna 19                                                   89.4
7            v tom:
8            Belgie                                                   90.5
9         Bulharsko                                                   79.8
10  Česká republika                                                     90
11           Dánsko                                                   84.9
12         Estonsko                                                   83.9
13           Finsko                                                   76.4
14          Francie                                                   91.5
15       Chorvatsko                                                   93.2
16            Irsko                                                   91.1
17           Itálie                                                   85.8
18             Kypr                                                   91.9
19            Litva                                                   91.2
20         Lotyšsko                                                   87.3
21      Lucembursko                                                   90.3
22         Maďarsko                                                   87.2
23            Malta                                                   89.4
24          Německo                                                   89.4
25       Nizozemsko                                                   82.4
26           Polsko                                                   89.2
27      Portugalsko                                                   91.4
28         Rakousko                                                     90
29         Rumunsko                                                   77.2
30            Řecko                                                   91.9
31        Slovensko                                                   90.3
32        Slovinsko                                                   92.7
33        Španělsko                                                   92.2
34          Švédsko                                                     79
35   Velká Británie                                                   79.3
36     Ostatní země
37           Island                                                   79.8
38        Makedonie                                                   79.7
39        Švýcarsko                                                   89.8
40          Turecko                                                   55.7

A             Péče o děti či zdravotně postižené dospělé                   \
B                                           25 - 49 let
C  muži  muži                                       ženy  ženy muži  muži
5        90.4                                               39          4
6        90.8                                             35.6        2.1
7
8        91.4                                             22.7        1.4
9        81.9                                             34.5        NaN
10         97                                             74.4        6.6
11       86.9                                              5.9        NaN
12       95.1                                             60.2        NaN
13       80.9                                             45.8        NaN
14       91.8                                             49.4        2.5
15       90.7                                             22.8        NaN
16         94                                               44        7.2
17         86                                             29.2        1.2
18       92.6                                             42.6        NaN
19       92.5                                             29.7        NaN
20       92.5                                             28.8        NaN
21       92.3                                             36.7        NaN
22         92                                             62.1        5.7
23       91.6                                             31.4        NaN
24       93.7                                             42.5        2.6
25       82.7                                             28.4        1.8
26       91.9                                             44.4        4.4
27       91.8                                             17.9        NaN
28       90.4                                             44.4        NaN
29       85.9                                             11.3        NaN
30       91.9                                             24.4        NaN
31       94.2                                             72.6        7.8
32       93.2                                             14.2        NaN
33       92.5                                             26.2        2.6
34       80.5                                             20.9        1.6
35       90.2                                             59.8       16.2
36
37         75                                              NaN        1.9
38       90.6                                             29.4        NaN
39       91.1                                             48.2        4.7
40       84.1                                             12.3        1.4

A  Zdravotní důvody                        Důchodci
B      50 - 64 let                   65 let a více
C              ženy  ženy muži  muži           ženy  ženy muži  muži
5                    20.4       31.4                   81       92.7
6                    18.6       27.6                 75.9       93.7
7
8                    21.3         26                 91.2       97.9
9                    23.7       32.4                 94.3       92.3
10                    4.8       10.2                 98.6       98.5
11                   47.1       48.6                 96.4       96.1
12                   50.2       55.4                 80.4       79.7
13                   33.2       29.4                 90.7       91.4
14                   21.3       22.5                 96.3       98.6
15                   11.6       18.1                   75       87.2
16                   23.7       45.5                 67.8       88.3
17                    7.2       14.5                 51.4         86
18                   16.4       35.8                   92       95.6
19                   35.1       53.5                   98       95.9
20                   28.9         38                 92.9       92.4
21                   16.9       19.2                 69.5       91.3
22                   28.5       40.7                 94.2       94.3
23                    7.1       22.8                 48.7       93.2
24                   20.8       31.7                 91.5       97.6
25                     43       56.4                 85.2       93.1
26                   20.4       45.4                 89.6       90.8
27                   34.3       36.8                 43.3       59.4
28                   11.1       18.1                 90.6       98.5
29                   18.2       26.6                 63.3         68
30                    4.5         11                 56.7       96.8
31                     25       33.9                 98.4       98.4
32                   15.2         19                 85.2       88.4
33                   22.4       44.6                 50.6       95.8
34                     65       57.1                   89       89.9
35                   29.2         44                  100       93.1
36
37                   82.3       70.3                  NaN        NaN
38                    5.7       21.8                 68.9         93
39                   23.9       43.4                 95.2       97.4
40                    8.7       13.8                 11.7       78.2

In [94]:
meal = {
'food' : pd.Series(['svíčková', 'lečo', 'hamburger'],
index=['Hana', 'Jitka', 'Pavla']),
'drink' : pd.Series(['čaj', 'víno', 'káva', 'kofola'],
index=['Hana', 'Jitka', 'Pavla', 'Martina']),
'food2' : pd.Series(['svíčková', 'lečo', 'hamburger'],
index=['Hana', 'Jitka', 'Pavla']),
'drink2' : pd.Series(['čaj', 'víno', 'káva', 'kofola'],
index=['Hana', 'Jitka', 'Pavla', 'Martina']),
'food3' : pd.Series(['svíčková', 'lečo', 'hamburger'],
index=['Hana', 'Jitka', 'Pavla']),
'drink3' : pd.Series(['čaj', 'víno', 'káva', 'kofola'],
index=['Hana', 'Jitka', 'Pavla', 'Martina'])
}
meal_df = pd.DataFrame(meal)
meal_df

          drink  drink2  drink3       food      food2      food3
Hana        čaj     čaj     čaj   svíčková   svíčková   svíčková
Jitka      víno    víno    víno       lečo       lečo       lečo
Martina  kofola  kofola  kofola        NaN        NaN        NaN
Pavla      káva    káva    káva  hamburger  hamburger  hamburger

In [95]:
col1 = meal_df.iloc[0]
col2 = meal_df.iloc[1]
col3 = meal_df.iloc[2]
col4 = meal_df.iloc[3]
columns = [col1, col2, col3, col4]
meal_df = meal_df.drop(meal_df.columns[[0, 4, 3]], axis = 1)
meal_df

         drink2  drink3      food3
Hana        čaj     čaj   svíčková
Jitka      víno    víno       lečo
Martina  kofola  kofola        NaN
Pavla      káva    káva  hamburger